@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: #121826;
  font-family: "Lato", sans-serif;
}

header {
  max-width: 1200px;
  display: flex;
  padding: 18px 12px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

h1 {
  margin-bottom: 0;
  max-width: 538px;
  color: white;
  font-size: 60px;
  font-weight: bold;
  line-height: 72px;
}

p {
  margin-top: 34px;
  margin-bottom: 0px;
  max-width: 449px;
  color: white;
  font-size: 20px;
  line-height: 26px;
}

.logo-and-links {
  display: flex;
  align-items: center;
}

.logo-and-links a {
  padding: 10px 20px;
  margin: 10px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.login-and-signup {
  display: flex;
  align-items: center;
}

.login-and-signup a {
  padding: 20px;
  margin: 10px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.sign-up-button {
  padding: 12px 28px;
  color: white;
  background-color: #539d98;
  border: none;
  border-radius: 56px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  position: relative;
}

.hero video {
  width: 100%;
  min-height: 689px;
  top: -160px;
  position: absolute;
  object-fit: cover;
}

.hero-text {
  max-width: 1200px;
  padding: 18px 12px;
  margin: auto;
  position: relative;
  top: 0;
}

.get-started {
  padding: 12px 28px;
  margin-top: 34px;
  color: #539d98;
  background-color: white;
  font-size: 18px;
  line-height: 21.6px;
  border: none;
  border-radius: 5px;
}

@media (max-width: 967px) {
  /* Add Hamburger Menu */
}

@media (max-width: 928px) {
  /* Fix Background Video Scaling Issue */
}

@media (max-width: 640px) {
  /* General Media Query for Mobile Optimization */
}
